*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 238, 238);
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titolo{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    padding-left: 25px;
}

main{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color: white;
}

#blue-button{
    background-color: rgb(71,173,241);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#white-button{
    display: inline-block;
}

#divider{
    background-color: rgb(237, 238, 238);
    height: 6px;
}

#container{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}