*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 238, 238);
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titolo{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    padding-left: 25px;
}

main{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    background-color: white;
}

.blue-button{
    color: white;
    background-color: rgb(71,173,241);
    padding: 4px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
    display: inline-block;
}

.white-button{
    display: inline-block;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    border: solid rgb(201, 201, 201);
    border-width: 2px;
    padding: 2px;
    border-radius: 5px;
}

#divider{
    background-color: rgb(237, 238, 238);
    height: 4px;
}

#container{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.to_do{
    margin: 10px;
    display: inline-block;
}

.blue-space{
    color: white;
    background-color: rgb(71,173,241);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: smaller;
}

.violet-space{
    color: white;
    background-color: rgb(135, 0, 212);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: smaller;
}

.green-space{
    color: white;
    background-color: rgb(100,192,169);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: smaller;
}

.orange-space{
    color: white;
    background-color: rgb(242,158,51);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: smaller;
}

.cicle_green{
    display: inline-block;
    border: solid green;
    border-width: 2px;
}

